*.bak
*.lps
nohup.out
app/tmp
app/Config/core.php
app/Config/database.php
pusher/client/backup
pusher/client/crmclient.lps
app/webroot/files/
nbproject/
.project
.gitignore
pusher/client/lib/
pusher/client/error.log
pusher/client/call_tracker.cfg
pusher/forms/backup/
pusher/services/backup/
pusher/client/call_tracker.dbg
pusher/client/call_tracker
pusher/client/call_tracker.exe
pusher/client/forms/backup
pusher/client/core
*backup/
